In [1]:
from dputils.scrape import Scraper,Tag

In [2]:
query='mobile'
page=3
webpage=Scraper(f'https://www.amazon.in/s?k={query}&page={page}')
print(webpage.soup.title)

<title>Amazon.in : mobile</title>

In [3]:
target =Tag ('div',cls='s-main-slot s-result-list s-search-results sg-row')
items= Tag('div',cls='s-result-item')#repeating products
title= Tag('h2')
price=Tag('span',cls='a-price-whole')

In [4]:
webpage.get_all(target,items,title=title,price=price)

[{'title': None, 'price': None},
 {'title': None, 'price': None},
 {'title': 'Apple iPhone 13 (128GB) - Midnight  ', 'price': '61,999'},
 {'title': 'Apple iPhone 13 Mini (128GB) - Midnight  ', 'price': '64,900'},
 {'title': 'Redmi 10A (Sea Blue, 4GB RAM, 64GB Storage) | 2 Ghz Octa Core Helio G25 | 5000 mAh Battery | Finger Print Sensor | Upto 5GB RAM with RAM Booster  ',
  'price': '8,999'},
 {'title': 'Samsung Galaxy A23 Blue, 8GB RAM, 128GB Storage with No Cost EMI/Additional Exchange Offers  ',
  'price': '18,999'},
 {'title': 'Vivo Y35 (Dawn Gold, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers  ',
  'price': '17,499'},
 {'title': None, 'price': None},
 {'title': 'Tecno Spark 9 (Infinity Black, 4GB RAM,64GB Storage) | 7GB Expandable RAM | Helio G37 Gaming Processor  ',
  'price': '7,999'},
 {'title': 'Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Segment Best AI Dual Cam | 5000mAh Battery | Leather Texture Design | Android 12  ',
  'price': '6,499'},
 {'title': 'Lava Blaze 5G (Glass Green, 6GB RAM, UFS 2.2 128GB Storage) | 5G Ready | 50MP AI Triple Camera | Upto 9GB Expandable RAM | Charger Included | Clean Android (No Bloatware)  ',
  'price': '11,999'},
 {'title': 'OnePlus Nord 2T 5G (Jade Fog, 8GB RAM, 128GB Storage)  ',
  'price': '28,999'},
 {'title': 'Nokia C12 Android 12 (Go Edition) Smartphone, All-Day Battery, 4GB RAM (2GB RAM + 2GB Virtual RAM) + 64GB Capacity | Light Mint  ',
  'price': '6,599'},
 {'title': '(Renewed) realme GT 5G Master Edition (Cosmos Black, 6GB RAM, 128GB Storage), Medium (GT Master Edition)  ',
  'price': '17,499'},
 {'title': 'IKALL K450 4G Smartphone with 6.26 Inch HD Display (4GB RAM, 32GB Storage) (Dark Blue)  ',
  'price': '5,999'},
 {'title': 'realme narzo 50A (Oxygen Blue , 4GB RAM + 128 GB Storage) Helio G85 Processor | 6000 mAh Battery  ',
  'price': '12,499'},
 {'title': None, 'price': None},
 {'title': 'Tecno Spark 8 Pro (Interstellar Black, 4GB RAM,64GB Storage) | 48MP Triple Camera | 33W Fast Charger  ',
  'price': '8,299'},
 {'title': 'Redmi 11 Prime 5G (Thunder Black, 6GB RAM, 128GB Storage) | Prime Design | MTK Dimensity 700 | 50 MP Dual Cam | 5000mAh | 7 Band 5G  ',
  'price': '15,999'},
 {'title': 'Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM, 128GB Storage) with No Cost EMI & Additional Exchange Offers  ',
  'price': '34,999'},
 {'title': 'Samsung Galaxy M33 5G (Emerald Brown, 6GB, 128GB Storage) | 6000mAh Battery | Upto 12GB RAM with RAM Plus | Travel Adapter to be Purchased Separately  ',
  'price': '17,999'},
 {'title': 'Apple iPhone 13 (128GB) - Blue  ', 'price': '61,999'},
 {'title': 'Vivo Y56 5G (Black Engine, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers  ',
  'price': '19,999'},
 {'title': 'Samsung Galaxy M13 (Aqua Green, 4GB, 64GB Storage) | 6000mAh Battery | Upto 8GB RAM with RAM Plus  ',
  'price': '10,999'},
 {'title': 'Redmi Note 12 5G Mystique Blue 4GB RAM 128GB ROM | 1st Phone with 120Hz Super AMOLED and Snapdragon® 4 Gen 1 | 48MP AI Triple Camera  ',
  'price': '17,999'},
 {'title': 'IKALL Z13 4G Smartphone with 6.53 inch HD+ Display (4GB RAM, 64GB Storage) (Grey)  ',
  'price': '6,499'},
 {'title': None, 'price': None},
 {'title': None, 'price': None},
 {'title': None, 'price': None}]

In [20]:
def scrape_product(query,page=1):
    webpage=Scraper(f'https://www.amazon.in/s?k={query}&page={page}')
    print(webpage.soup.title)
    #important
    target =Tag ('div',cls='s-main-slot s-result-list s-search-results sg-row')
    items= Tag('div',cls='s-result-item')#repeating products
    title= Tag('h2',cls='a-size-mini a-spacing-none a-color-base s-line-clamp-2')
    price=Tag('span',cls='a-price-whole')
    rating=Tag('i',cls='a-icon a-icon-star-small a-star-small-4 aok-align-bottom')

    return webpage.get_all(target,items,title=title,price=price,rating=rating)

In [21]:
all_data=[]
query='laptops'
for i in range (1,15):
    all_data.extend(scrape_product(query,i))
    print(f'Page {i} done')

<title>Amazon.in : laptops</title>
Page 1 done
<title>Amazon.in : laptops</title>
Page 2 done
<title>Amazon.in : laptops</title>
Page 3 done
<title>Amazon.in : laptops</title>
Page 4 done
<title>Amazon.in : laptops</title>
Page 5 done
<title>Amazon.in : laptops</title>
Page 6 done
<title>Amazon.in : laptops</title>
Page 7 done
<title>Amazon.in : laptops</title>
Page 8 done
<title>Amazon.in : laptops</title>
Page 9 done
<title>Amazon.in : laptops</title>
Page 10 done
<title>Amazon.in : laptops</title>
Page 11 done
<title>Amazon.in : laptops</title>
Page 12 done
<title>Amazon.in : laptops</title>
Page 13 done
<title>Amazon.in : laptops</title>
Page 14 done

In [22]:
import pandas as pd
df = pd.DataFrame(all_data).dropna(how='all')
df.to_csv('laptops.csv',index=False)

In [23]:
df

,title,price,rating
2,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...","39,990",4.1 out of 5 stars
3,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...","41,990",3.9 out of 5 stars
4,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,490",None
5,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"26,999",None
6,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",4.0 out of 5 stars
...,...,...,...
448,"Dell Inspiron 3520 Laptop,12th Gen Intel Core ...","46,990",None
449,"Dell Inspiron 3520 Laptop,12th Gen Intel Core ...","60,490",3.8 out of 5 stars
450,"Dell Inspiron 3525 Laptop, AMD Ryzen R3-5425U,...","39,990",None
451,Xiaomi NoteBook Pro 120 12th Gen Intel i5-1245...,"64,999",4.0 out of 5 stars
452,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...","56,990",4.1 out of 5 stars